<div id='the-nav' class='nav wrapper hidden-xs hidden-sm dev-guide-nav' style='height: 100%; overflow-y:auto;'>
    <h3>Chapters</h3>
    <ol>
        <li {% if page.url=="/communications/dev-guide_geo_soap/getting-started/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/getting-started/">Getting Started</a>
            {% if page.chapter=="getting-started" %}
            <ol>
                
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/geocode/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/geocode/">Geocode</a>
            {% if page.chapter=="geocode" %}
            <ol>   
                
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/customizing-transactions/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/customizing-transactions/">Customizing Transactions</a>
            {% if page.chapter=="customizing-transactions" %}
            <ol>
               
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/reference/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/reference/">Reference</a>
            {% if page.chapter=="reference" %}
            <ol>
                
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/geocode-offline/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/geocode-offline/">Calculating Tax Offline</a>
            {% if page.chapter=="geocode-offline" %}
            <ol>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/detect-dropped-connection/">Detect a Dropped Connection</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/retry-or-fallback/">Retry or Fallback</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/recover-data/">Data Recovery</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/reconcile-transactions/">Reconcile Your Transactions</a></li>
            </ol>
            {% endif %}
        </li>
    </ol>
</div>