<div id='the-nav' class='nav wrapper hidden-xs hidden-sm dev-guide-nav' style='height: 100%; overflow-y:auto;'>
    <h3>Chapters</h3>
    <ol>
        <li {% if page.url=="/communications/dev-guide_geo_soap/getting-started/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/getting-started/">Getting Started</a>
            {% if page.chapter=="getting-started" %}
            <ol>
                <li><a href="/communications/dev-guide_geo_soap/getting-started/account-creation/">Account Creation</a></li>
                <li><a href="/communications/dev-guide_geo_soap/getting-started/endpoints-methods/">Endpoints and Methods</a></li>
                <li><a href="/communications/dev-guide_geo_soap/getting-started/sample-messages/">Sample Messages</a></li>
                <li><a href="/communications/dev-guide_geo_soap/getting-started/best-practices/">Best Practices</a></li>
            </ol>
            {% endif %}
        </li>
      <li {% if page.url=="/communications/dev-guide_geo_soap/geocode/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/geocode/">Geocode</a>
            {% if page.chapter=="geocode" %}
            <ol>   
                <li><a href="/communications/dev-guide_geo_soap/geocode/address-geocoding/">Address Geocoding</a>
                <ol>
                    <li><a href="/communications/dev-guide_geo_soap/geocode/options/">Options</a></li>
                    <li><a href="/communications/dev-guide_geo_soap/geocode/cass/">CASS Validation</a></li>
                    <li><a href="/communications/dev-guide_geo_soap/geocode/florida-certification/">Florida Certification</a></li>
                </ol>
                </li>
                <li><a href="/communications/dev-guide_geo_soap/geocode/lat-long-geocoding/">Latitude/Longitude Geocoding</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode/special-tax-jurisdictions/">Special Tax Jurisdictions</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode/scoring/">Scoring</a></li>
            </ol>
            {% endif %}
        </li>
          <li {% if page.url=="/communications/dev-guide_geo_soap/customizing-geocoding-requests/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/">Customizing Geocoding Requests</a>
            {% if page.chapter=="customizing-geocoding-requests" %}
            <ol>
               <li><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/sample-requests/geocode-address">Geocode Address</a></li>
               <li><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/sample-requests/geocode-all-matches">Geocode All Matches</a></li>
               <li><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/sample-requests/geocode-lat-long">Geocode Lat Long</a></li>
               <li><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/sample-requests/special-tax-jurisdiction">Special Tax Jurisdictions</a></li>
               <li><a href="/communications/dev-guide_geo_soap/customizing-geocoding-requests/sample-requests/florida-certified">Florida Certified</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/reference/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/reference/">Reference</a>
            {% if page.chapter=="reference" %}
            <ol>
                <li>Requests
                    <ol> 
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-address">Geocode Address</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-all-matches">Geocode All Matches</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/input-address">Input Address</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-lat-long">Geocode Lat Long</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/get-server-time">Get Server Time</a></li>
                    </ol>
                </li>
                <li>Responses
                    <ol>
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-address-response">Geocode Address Response</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-all-matches-response">Geocode All Matches Response</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/geocode-lat-long-response">Geocode Lat Long Response</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/address-location">Address Location</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/cass-address">Cass Address</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/get-server-time-response">Get Server Time Response</a></li>
                        <li><a href="/communications/dev-guide_geo_soap/reference/fault">Fault</a></li>
                    </ol>
                </li>
                <li><a href="/communications/dev-guide_geo_soap/reference/errors/">Errors</a></li>
            </ol>
            {% endif %}
        </li>
        <li {% if page.url=="/communications/dev-guide_geo_soap/geocode-offline/" %}class="active" {% endif %}><a href="/communications/dev-guide_geo_soap/geocode-offline/">Geocode Offline</a>
            {% if page.chapter=="geocode-offline" %}
            <ol>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/detect-dropped-connection/">Detect a Dropped Connection</a></li>
                <li><a href="/communications/dev-guide_geo_soap/geocode-offline/retry-or-fallback/">Retry or Fallback</a></li>
            </ol>
            {% endif %}
        </li>
    </ol>
</div>