#demo-console-output {
    color: #8fffa7;
}

#demo-console-input {
    color: #8fffa7;
}

#demo-shortcuts {
    max-height: calc(100vh - 60px);
    padding-left:15px;
    overflow: auto;
    font-family: Arial, "source sans pro light";
}

#demo-api-details {
    max-height: 500px;
    overflow: auto;
}

#myMap {
    width: 100%;
    height: 450px;
}

.demo-option {
    font-weight: normal;
    font-size: 14px;

    .demo-label {
        font-weight: bold;
        padding-left: 5px;
    }
    
    .demo-city-marker {
        color: $Ava-orange;
        padding-left: 15px;
    }
  
    .demo-city-zip {
        padding-left: 20px;
    }

    label.demo-label-container {
        padding: 5px 0;
        font-weight: normal;
    }
}

.demo-infobox {
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 275px;
    min-height: 275px;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    h4 {
        color: $Ava-orange;
    }
    p.demo-infobox-text {
        margin: 5px 0 0 0;
        font-size: 14px;
    }
    a {
        color: $Ava-orange;
    }

    #demo-infobox-icon {
        color: $Medium-grey;
    }

    #demo-infobox-icon:hover {
        color: $Ava-orange
    }
}

.demo-tax-totals {
    color: $Ava-orange;
}

.demo-form {
    padding-left:10px;
}

.demo-radio {
    margin-top: 0;
}

.demo-step {
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn.demo-console-btn {
    font-size: 14px;
    padding: 10px 0px;
    display:inline;
    margin-right:5px;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
    .glyphicon {
        margin-right: 2px;
    }
}

// Style the buttons that are used to open and close the accordion panel 
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), 
// and when you move the mouse over it (hover)
.active, .accordion:hover {
    background-color: #ccc;
}

// Style the accordion panel. Note: hidden by default
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    box-shadow: none;
}

@media only screen and (min-device-width : 1200px) {
    .demo-console-btn a:after {
        content: 'DOCS'; 
    }

    button.copy-btn:after {
        content: 'COPY'; 
    }
}

@media only screen and (max-device-width : 1199px) {
    .demo-console-btn a:after {
        content: ''; 
    }

    button.copy-btn:after {
        content: ''; 
    }
}