input.cert-demo-option {
    margin-right: 10px;
}

#cert-request {
    color: #8fffa7;
}

#cert-divider {
    margin: 20px 0px 20px 0px;
}

.cert-label {
    display: block;
}

.cert-btn {
    margin-top: 10px;
}

#sample-script {
    height: 400px;
    max-width: 800px;
}

.form-output {
    display: none;
}