@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500);    
    button:hover { background-color: #059bd2 }
    label {  line-height: 1.4rem;  }
    input, textarea { padding: 2px 4px 2px 4px; max-width: 270px; width: 100%; }
    select { max-width: 270px; width: 100%; }
    input, label, select, textarea, button { font-family: "Source Sans Pro", sans-serif; font-size: 14px; color: #72767e; }
    button { background-color: #027fad; color: white; padding: 6px; cursor: pointer; }
    .inverted_button { color: #027fad !important; background-color: white !important; padding: 6px; border: 1px solid #027fad; }
